.post {
  &__video {
    &__play-btn {
      display: block;
      width: 100%;
      text-align: left;
      cursor: pointer;
      line-height: 2rem;
      font-weight: bold;
      background-color: var(--color-grayDarkest);
      color: var(--color-grayLighter);
      border: transparent;
      &:hover,
      &:active,
      &:focus {
        background-color: var(--color-grayDarker);
        color: var(--color-grayLightest);
      }
    }
  }
  &-meta {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
