---
import FormattedDate from './FormattedDate.astro';

interface Props {
	title: string;
	image: string;
	href: string;
	date: Date
}

const { href, image, title, date } = Astro.props;
---

<li class="rounded-">
	<a href={href}>
		{!!image && <img width={320} height={80} src={image} alt="" />}
		<h4 class="title">{title}</h4>
			<FormattedDate date={date} />
	</a>
</li>
