<header class="bg-nitrox-black border-b border-nitrox-darkgray sticky top-0 z-10 h-20">
  <div class="container mx-auto p-2">
    <div class="flex">
      <a href="/" class="flex items-center">
        <img src="/logos/logo-645.png" alt="Nitrox TV" class="w-[320px] h-auto" />
      </a>
    </div>
  </div>
</header>